In [1]:
import pandas as pd

d = {'name': ['a','b','a','d'],
     'phone': ['123','345','456','567']}

df = pd.DataFrame(data=d)
df

  name phone
0    a   123
1    b   345
2    a   456
3    d   567

In [4]:
df.groupby('name').count()

      phone
name
a         2
b         1
d         1